/* 1. GENERAL
=======================  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
     -moz-osx-font-smoothing: grayscale;
}
body {
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color:#505050;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
    
}
a{
    outline: 0 none;
    text-decoration: none !important;
  
}
ul{
    list-style-type: none;
}

/* ======================
	2. HEADINGS
======================= */
h1 {
    font-size: 36px;
    line-height: 45px;
    margin-bottom: 25px;
	font-weight:700;
}
h2 {
    font-size: 32px;
    line-height: 45px;
    margin-bottom: 25px;
	font-weight:700;
}
h3 {
    font-size: 28px;
    line-height: 35px;
    margin-bottom: 20px;
	font-weight:700;
}
h4 {
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 15px;
	font-weight:600;
}
h5 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 10px;
	font-weight:600;
}
h6 {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 10px;
	font-weight:600;
}
/*====| - Text_Transform |====*/
.text-lowercase {
    text-transform: lowercase
}
.text-uppercase {
    text-transform: uppercase
}
.text-capitalize {
    text-transform: capitalize
}
/*====| 3- Text_Size |====*/
.font-10 {
    font-size: 10px;
}
.font-12 {
    font-size: 12px;
}
.font-13 {
    font-size: 13px;
}
.font-14 {
    font-size: 14px;
}
.font-16 {
    font-size: 16px;
}
.font-18 {
    font-size: 18px;
}
.font-20 {
    font-size: 20px;
}
.font-22 {
    font-size: 22px;
}
.font-24 {
    font-size: 24px;
}
.font-26 {
    font-size: 26px;
}
.font-30 {
    font-size: 30px;
    line-height: 40px;
}
.font-35 {
    font-size: 35px;
	line-height:45px;
}
.font-40 {
    font-size: 40px;
	line-height:50px;
}
.font-45 {
    font-size: 45px;
	line-height:55px;
}
.font-50 {
    font-size: 50px;
	line-height:65px;
}
.font-55 {
    font-size: 55px;
	line-height:65px;
}
.font-60 {
    font-size: 60px;
	line-height:70px;
}
.font-70 {
    font-size: 70px;
	line-height:80px;
}
.font-75 {
    font-size: 75px;
	line-height:85px;
}
.font-80 {
    font-size: 80px;
	line-height:90px;
}
.font-90 {
    font-size: 90px;
	line-height:100px;
}
.font-100 {
    font-size: 100px;
	line-height:110px;
}
/*====| 4- Font_Weight |====*/
.fw3 {
    font-weight: 300;
}
.fw4 {
    font-weight: 400;
}
.fw5 {
    font-weight: 500;
}
.fw6 {
    font-weight: 600;
}
.fw7 {
    font-weight: 700;
}
.fw8 {
    font-weight: 800;
}
.fw9 {
    font-weight: 900;
}

/* Header Page */
    /* Navbar top */
.section-header .navbar-top .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;

}
.section-header .navbar-top .navbar-aside-center{
    display: flex;
    align-items: center;
}
.section-header .navbar-top .navbar-aside-center
.search-container input[type=text] {
    width: 500px;
    border-radius: 25px;
    padding: 9px 0 9px 25px;
    margin-top: 8px;
    font-size: 17px;
    border: 1px solid black;
    
}
.search-container button {
    position: absolute;
    float: right;
    padding: 8.7px 33px;
    margin-right: 4px;
    background: #028614;
    font-size: 17px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin-left: -88px;
    margin-top: 9.3px;}
.search-container button svg{
    font-size: 20px;
    color: #fff;
}
.navbar-aside-right .user-options{
    display: flex;
    align-items: center;
}
.orders-option{
    margin-right: 30px;
    color: #000;
}
.orders-option:last-child{
    margin: 0;}
.orders-option:hover label{
    color: #028614;
    cursor: pointer;
  

}
.navbar-aside-right .orders-option label{
    display: block;
    text-align: center;
}
.navbar-aside-right .orders-option label img{
    max-width: 35px;
}
    /* Navbar Bottom */
.navbar-bottom{
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}
.navbar-bottom .navbar{
    padding: 0;
}

.navbar-bottom .navbar-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.navbar-bottom .navbar-nav > li{
    margin: 0 15px;
}
.navbar-bottom .navbar-nav > li > a{
    padding: 20px 0;
    text-transform: uppercase;
    color: #505050;
    font-size: 18px;
    font-weight: 600;

}

.navbar-bottom .navbar-nav > li.active > a,
.navbar-bottom .navbar-nav > li:hover > a{
    color: #028614 !important;
    background: transparent;
   
}
.navbar-bottom .navbar-nav > li.active > a::after {
    position: relative;
    bottom: 10px;
    left: 0;
    right: 100%;
    height: 3px;
    content: "";
    display: inline-block;
    opacity: 1;
    transition: 250ms;
    background: #028614;
}

/* ---------Footer------- */
.footer-wrap{
    width: 100%;
    height: auto;
    background-color: rgba(196,196,196,20%);
    padding: 40px 0;
    bottom: 0 !important;
    margin-top: 40px;
}
.footer-wrap .footer-logo img{
    width: 250px;
    height: auto;
    margin-top: 60px;
}
.footer-contact .footer-head,
.footer-social .footer-head,
.footer-menu .footer-head{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.footer-contact .footer-head .footer-title,
.footer-social .footer-title,
.footer-menu .footer-title{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    padding-left: 10px;
}
.footer-contact .footer-head .footer-icon svg,
.footer-social .footer-head .footer-icon svg,
.footer-menu .footer-head .footer-icon svg{
    font-size: 20px;
    border: 1px solid #028614;
    border-radius: 50px;
    padding: 5px;
}
.footer-contact .contact-item{
    display: flex;
    justify-content: space-around;
}
.footer-contact .contact-item label{
    font-size: 16px;
}
.footer-contact .contact-item .item-name{
    width: 30%;
    left: 0;
    margin-right: 15px;
}
.footer-contact .contact-item .item-detail{
    width: 70%;
}
.social-item ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.social-item ul li a svg{
    background-color: rgba(2, 134, 20, 0.27);
    font-size: 20px;
    border: 1px solid #028614;
    padding: 10px;
    border-radius: 50%;
    color: #000;
}
.footer-menu .menu-item ul li{
    text-align: center;
    font-size: 16px;
}
.footer-menu .menu-item ul li a{
    color: #000;
}

.copyright{
    width: 100%;
    background-color: #028614;
    text-align: center;
    padding: 10px;
}
.copyright label{
    font-family: 'Montserrat';
    font-size: 14px;
    font-style: italic;
    color: #fff;
    
}
